// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

a {
    color: #006937;
}

a:hover {
    color:#008321;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    font-family: 'Josefin Sans', sans-serif;
}

// parent must be a relative
%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app-login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    .btn-success {
        border: 1px solid #008321;
        background-color: #008321;
        font-size: 1rem;
        paddng: 10px;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            background-color: transparent;
            color: #4c66ff;
        }
    }


    & > .side-content {
        width: 40%;
        position: relative;
        background-color: #008321;

        color: #fff;

        .side-notes {
            @extend %absolute-center;

            padding: 10px;
            width: 80%;

            h1 {
                margin-bottom: 20px;
            }

            p {
                font-size: 1rem;
            }
        }
    }


    & > .main-content {
        width: 100%;
        position: relative;

        .form-control {
            border: 1px solid #d2d2d2;
            background: none;
            outline: none;
            border-radius: 0;
            font-size: 1rem;
            width: 100%;
        }

        .content-box {
            @extend %absolute-center;
            width: 500px;

            .logo {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;

                img {
                    width: 50%;
                }
            }
        }
    }
}

.spinner {
    width: 60px;
}

#editDialog, #deleteDialog, #addDialog, #addServices, #addDamages, #checkoutModal, #cancelDialog, #showUpgrade, #showRebook {
    display:none;
}

@media only screen and (max-width: 999px) {
    .side-content {
        display: none;
    }

    .loginForm {
        width: 100%;
        padding: 20px;
    }
}
