@import 'variables';

.back-content {
    width: 72%;
    margin-left: auto;
    padding: 20px;

    //buttons
    .btn-success {
        color: #fff;
        border: 1px solid #651cf5;
        background-color: #651cf5;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
            color: #651cf5;
            background-color: transparent;
        }
    }

    .btn-custom-default {
        color: #fff;
        border: 1px solid #3490dc;
        background-color: #3490dc;
        font-weight: bold;

        &:hover {
            background-color: #1f74bb;
        }
    }

    .btn-delete {
        background: none;
        border: none;
        cursor: pointer;
        width: 0;
        padding: 0;
        position: absolute;
        right: 20px;
        font-size: 20px;
    }

    // form input
    .custom-form-input-check {
        input[type='checkbox'] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 40px;
            height: 20px;
            background: grey;
            display: block;
            border-radius: 100px;
            position: relative;
        }

        label:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 14px;
            height: 14px;
            background: #fff;
            border-radius: 8px;
            transition: 0.3s;
        }

        input:checked + label {
            background: $blue;
        }

        input:checked + label:after {
            left: calc(100% - 3px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 17px;
        }
    }

    .view-content {
        h1 {
            margin-bottom: 25px;
        }

        .card {
            width: 30%;
            border: 0;
            margin-bottom: 15px;

            .card-img-top {
                margin-top: 30px;
                overflow: hidden;
                height: 150px;
                border-radius: 0;

                img {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }
            }

            .room-desc {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.customer-content {
        .reservation-container {
            &.reserve-now {
                input {
                    width: 100%;
                    font-size: 15px;
                    padding: 5px;
                    border-radius: 4px;
                    border: 1px solid #888;
                    outline: none;
                }
            }

            .ui-spinner.ui-corner-all.ui-widget.ui-widget-content {
                width: 100%;
                display: block;

                & > input {
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #006937;
    }

    a:hover {
        color:#008321;
    }

    .logo {
        padding: 9px;
        img {
            width: 50px;
        }
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            text-decoration: none;
            padding: 13px 25px;
            font-size: 16px;
            text-align: center;
        }
    }
}

.nav-item {
    text-align: center;
    margin-right: 20px;
}

@media only screen and (max-width: 999px) {
    .main-content {
        padding-left:20px;
        padding-right:20px;
    }
}

@media only screen and (min-width: 1000px) {
    .main-content {
        padding-left:100px;
        padding-right:100px;
    }
}
