.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #006937;
    }

    a:hover {
        color:#008321;
    }

    .logo {
        padding: 9px;
        img {
            width: 50px;
        }
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            text-decoration: none;
            padding: 13px 25px;
            font-size: 16px;
            text-align: center;
        }
    }
}

.nav-item {
    text-align: center;
    margin-right: 20px;
}
